<% include ../partials/header %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
           <h1>Contact</h1> 
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <form action="/contact/send" method="post" id="form">
                <div class="messages"> </div>
                <div class="controls">
                  <div class="form-group">
                    <label class="" for="form_name">Name</label>
                    <input type="text" class="form-control" id="form_name" name="name" placeholder="Enter Name" required="required" data-error="Your Name is Required">
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label class="" for="form_email">Email</label>
                    <input type="email" class="form-control" id="form_email" name="email" placeholder="Your Email Address" required="required" data-error="Your Email is Required">
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label class="" for="form_message">Message</label>
                    <textarea class="form-control" id="form_message" name="message" placeholder="Enter Message Here" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <!-- Insert the code for the reCaptcha check box -->
                    
                    <div class="g-recaptcha" data-sitekey="6LfO5loUAAAAAJ7XQxeGIf_iiMnDknL5075txzOA"></div>
        
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-light btn-block">Send Email</button>
                  </div>
          </form>
        </div>
    </div>
</div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>

<% include ../partials/footer %>


